build/
/dist/
/build-*/
/build_*/
/release-*/
.idea/
.gradle/
/x/
local.properties
/scrcpy-server
/scrcpy-server-tmp
/dist-gaming/
/dist-gaming2/
/dist-gaming3/
/release/work/
/release/output/
/scrcpy-gaming-144p.zip
/ship/
